{% extends "base.html" %}

{% block title %}
  Подробное описание товара
{% endblock %}

{% block content %}
  <h1>Подробное описание товара</h1>
  <h5>{{ item.name }}</h5>
  <p>{{ item.category.name }}</p>
  <p>{{ item.text }}</p>
  <p>
    {% for tag in item.tags.all %}
        {{ tag.name }}
      {% endfor %}
  </p>
  <p>{{ avg_rating }} звезд / оценок {{ rating|length }}</p>
  {% if user.is_authenticated %}
    {% if user_rate == None %}
      <form method="post">
        {% csrf_token %}
        <ul>
          {{ form.as_ul }}
        </ul>
        <input type="submit" value="Обновить">
      </form>
    {% else %}
      <p>ваша оценка товара: {{ user_rate.star }}</p>
    {% endif %}
  {% endif %}
{% endblock %}
